*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  height: 10vh;
  width: 100%;
  padding: 0 10vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40,116,240);
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 6vw;
  height: 100%;
}
.logo > img {
  width: 90%;
  height: 35%;
  margin: 10% 0 0;
}

.searchBarContainer{
  height: 6vh;
  width: 38vw;
  margin-left: 10vw;
}
.searchBar{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 1.1rem;
}

/* BackDrop for Sign up/Login Modal */
.backDrop{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.28);
  top: 0;
}

.formContainer{
  display: flex;
  width: 100%;
  height: 100%;
}
.formContainer .leftPane{
  width: 35%;
  height: 100%;
  background-color: rgb(40,116,240);
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftPaneDesc{
  font-size: 1.05rem;
  font-weight: initial;
  margin: 10px;
}

.userContainer{
  font-size: 1.2rem;
  color: white;
  width: 23vw;
}

.userContainer .cart .cartBadge{
  background-color: rgba(255, 72, 0, 0.842);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 0.8rem;
  top: 0.92%;
}

.loggedin{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.formContainer .rightPane{
  width: 60%;
  margin: 0 2.5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.formBox{
  width: 90%;
  height: 47%;
  margin: 5% 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login{
  width: 100% !important;
}
.productsList{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  margin: auto;
}

.productsList > li{
  width: 21vw;
  min-width: 205px;
  max-width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.product{
  width: 80%;
  height: 80%;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.product > a{
  text-decoration: none;
  color: black;
}
.product .productName{
  font-size: 1.2rem;
  font-weight: 500;
  max-height: 90%;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product .productName:hover{
  color:rgb(40, 117, 240);
}
.product:hover{
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}

.product:active{
  border: 3px solid black;
}
.productImage{
  height: 50%;
  width: 100%;
  border-radius: 10px;
}

.btn-small,.btn-large{
  padding: 6px 24px;
  background-color: white;
  color: rgb(40,116,240);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.1rem;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

.btn-large{
  padding: 12px 50px;
  width: 100%;
  /* margin: 0 5%; */
  background-color: rgb(251,100,27);
  color: white;
}

.btn-large.toSignUp,.toLogin{
  background-color: white;
  color: rgb(40,116,240);
  box-shadow: 1px 1px 15px 4px rgba(0, 0, 0, 0.164);
  margin-top: 5px;
}

.toSignUp{
  margin-bottom: 1.5rem;
  padding: 12px 45px;
  width: 90%;
}

.inputContainer{
  width: 100%;
  height: 63px;
  text-align: center;
}
.inputContainer> input{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(40, 117, 240, 0.863);
}

.inputContainer>input:focus{
  border-bottom: 3px solid rgb(40, 117, 240);
}

.signUpForm{
  height: 95%;
  margin-bottom: 5%;
}
.error{
  color: red;
}

#confirmPw{
  margin-bottom: 4%;
}

.formContainer .leftPane img{
  width: 90%;
}

.userContainer .cart{
  display: inline-block;
  
}
.userContainer .cart a{
  text-decoration: none;
  color: white;
}


.searchResultsContainer{
  background-color: white;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
  position: absolute;
  top: 9vh;
  left: 27vw;
  border-radius: 8px;
  width: 38vw;
}
.searchResultsContainer .searchResultsList{
  list-style: none;
}
.searchResultsList li{
  cursor: pointer;
}
.searchedProduct{
  height: 8vh;
  display: flex;
  line-height: 8vh;
  margin: 5px 0 5px 0;
}
.searchResultsList a{
  text-decoration: none;
  color: black;
}
.searchedProduct:hover{
  background-color: lightgray;
}
.searchedProduct .imageContainer{
  width: 16%;
  height: 100%;
}

.searchedProduct .imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.searchedProduct .searchResultTitle{
  padding-left: 20px;
}

.userContainer .cart img{
  padding-top: 5px;
  margin-right: 5px;
}